<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.richinfo.richadmin.Mapper.Finance.BusinessIncomeSemiannualMarginMapper" >

    <resultMap type="BusinessIncomeMargin" id="BusinessIncomeMonthMarginMap">
        <result column="customer_name" property="customerName"/>
        <result column="business_type" property="businessType"/>
        <result column="project_name" property="projectName"/>
        <result column="project_num" property="projectNum"/>
        <result column="project_type" property="projectType"/>
        <result column="signing_business_unit" property="signingBusinessUnit"/>
        <result column="team" property="team"/>
        <result column="sale_name" property="saleName"/>
        <result column="order_type" property="orderType"/>
        <result column="month_actual" property="monthActual"/>
        <result column="month_kpi" property="monthKpi"/>
        <result column="month_margin" property="monthMargin"/>
        <result column="month_rate" property="monthRate"/>
        <result column="year" property="year"/>
        <result column="date" property="date"/>
        <result column="month" property="month"/>
        <result column="business_line" property="businessLine"/>
    </resultMap>

    <insert id="insert" parameterType="BusinessIncomeMargin">
        insert into business_income_semiannual_margin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test=" customerName != null and customerName !=''">
                customer_name,
            </if>
            <if test="businessType != null and businessType !=''">
                business_type,
            </if>
            <if test="projectName != null and projectName !=''">
                project_name,
            </if>
            <if test="projectNum != null and projectNum !=''">
                project_num,
            </if>
            <if test="projectType != null and projectType !=''">
                project_type,
            </if>
            <if test="signingBusinessUnit != null and signingBusinessUnit != ''">
                signing_business_unit,
            </if>
            <if test="team != null and team !=''">
                team,
            </if>
            <if test="saleName != null and saleName != ''">
                sale_name,
            </if>
            <if test="orderType != null and orderType != ''">
                order_type,
            </if>
            <if test="monthActual != null and monthActual !=''">
                month_actual,
            </if>
            <if test="monthKpi != null and monthKpi !=''">
                month_kpi,
            </if>
            <if test="monthMargin != null and monthMargin !=''">
                month_margin,
            </if>
            <if test="monthRate != null and monthRate !=''">
                month_rate,
            </if>
            <if test="year != null and year !=''">
                year,
            </if>
            <if test="date != null and date !=''">
                date,
            </if>
            <if test="month != null and month !=''">
                month,
            </if>
            <if test="businessLine != null and businessLine !=''">
                business_line,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test=" customerName != null and customerName !=''">
                #{customerName},
            </if>
            <if test="businessType != null and businessType !=''">
                #{businessType},
            </if>
            <if test="projectName != null and projectName !=''">
                #{projectName},
            </if>
            <if test="projectNum != null and projectNum !=''">
                #{projectNum},
            </if>
            <if test="projectType != null and projectType !=''">
                #{projectType},
            </if>
            <if test="signingBusinessUnit != null and signingBusinessUnit != ''">
                #{signingBusinessUnit},
            </if>
            <if test="team != null and team !=''">
                #{team},
            </if>
            <if test="saleName != null and saleName != ''">
                #{saleName},
            </if>
            <if test="orderType != null and orderType != ''">
                #{orderType},
            </if>
            <if test="monthActual != null and monthActual !=''">
                #{monthActual},
            </if>
            <if test="monthKpi != null and monthKpi !=''">
                #{monthKpi},
            </if>
            <if test="monthMargin != null and monthMargin !=''">
                #{monthMargin},
            </if>
            <if test="monthRate != null and monthRate !=''">
                #{monthRate},
            </if>
            <if test="year != null and year !=''">
                #{year},
            </if>
            <if test="date != null and date !=''">
                #{date},
            </if>
            <if test="month != null and month !=''">
                #{month},
            </if>
            <if test="businessLine != null and businessLine !=''">
                #{businessLine},
            </if>
        </trim>
    </insert>

    <select id="list" parameterType="BusinessIncomeMargin" resultMap="BusinessIncomeMonthMarginMap">
        select * from business_income_semiannual_margin
        where 1=1
        <if test="date != null and date !='' ">
            and date =#{date}
        </if>
        <if test="year != null and year !=''">
            and year = #{year}
        </if>
        <if test="businessLine != null  and businessLine !=''">
            and business_line =#{businessLine}
        </if>
        <if  test="businessLine == null">
            and business_line is NULL
        </if>
        <if test="projectName != null and projectName !=''">
            and project_name = #{projectName}
        </if>
        <if test="orderType != null and orderType !='' ">
            and order_type = #{orderType}
        </if>
        <if test="month != null and month !=''">
            and month =#{month}
        </if>
        <if test="order != null and order !=''">
            order by ${order}
        </if>
    </select>

    <select id="getTotalList" parameterType="BusinessIncomeMargin" resultType="cn.richinfo.richadmin.common.vo.finance.BusinessTotalVo">
        select IFNULL(sum(month_actual),0) as actualAmount ,IFNULL(sum(month_kpi),0) as kpiAmount,
        IFNULL(sum(month_margin),0) as marginAmount , order_type as orderType
        from business_income_semiannual_margin where  1=1
        <if test="date != null and date !=''">
            and date = #{date}
        </if>
        <if test="year != null and year !=''">
            and year =#{year}
        </if>
        <if test="orderType != null and orderType !=''">
            and order_type = #{orderType}
        </if>
        <if test="month != null and month !=''">
            and month = #{month}
        </if>
        <if test="businessLine != null and businessLine!=''">
            and business_line=#{businessLine}
        </if>
    </select>

    <delete id="deleteByDate" parameterType="java.lang.String">
        delete from business_income_semiannual_margin
        where 1=2
        <if test="date != null and date!=''">
            or date=#{date}
        </if>
    </delete>

</mapper>